.hide{
    display: none;
}

#conteiner{
    width: 90vw;
    margin: 0 auto;
    background-color: #F3F4F8;
    padding: 5px;
}
header, footer, button{
    background-color: #6401DD;
    padding: 5px;
    color: #fff;
}
header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
footer{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
button{
    margin: 5px;
    border-radius: 10px;
    border: none;
}